{% extends 'DHLGSVBundle::base.html.twig' %}
{% block body %}
	<h2>Liegenschaft bearbeiten</h2>
	{{ form_start(form) }}
		<div class="form-group">
			<label for="house_name">Name</label>
			{{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="house_strasse">Strasse</label>
			{{ form_widget(form.strasse, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="house_plz">PLZ</label>
			{{ form_widget(form.plz, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="house_ort">Ort</label>
			{{ form_widget(form.ort, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<button type="submit" class="btn btn-default">Speichern</button>
		<a class="btn btn-default" href="{{ path('delete_house', {'house' : house}) }}">Löschen</a></li>
	{{ form_end(form) }}	
{% endblock %}