{% extends 'DHLGSVBundle::base.html.twig' %}
{% block body %}
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Suche Mieter</div>
					<div class="panel-body">
					<div class="input-group">
						<input type="text" class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button">Suchen</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Mieter<br><i>Klicke auf einen Eintrag um alle Wohnungen des gewählten Mieter's einzusehen</i></div>
				{% if mieters is empty %}
					<div class="panel-body">
						<p>Noch keine Mieter vorhanden</p>
					</div>
				{% else %}
				<div class="panel-body">
					<table class="table table-responsive table-hover">
						<thead>
							<tr>
								<th>Nachname</th>
								<th>Vorname</th>
								<th>Strasse</th>
								<th>PLZ</th>
								<th>Ort</th>
								<th>E-Mail</th>
								<th>Telefon</th>
							</tr>
						</thead>
						<tbody>
						{% for mieter in mieters %}					 
							<tr class="clickable-row" data-href="{{ path('view_wohnungenmieter', {'mieter': mieter.id}) }}">
								<td>{{ mieter.nachname }}</td>
								<td>{{ mieter.vorname }}</td>
								<td>{{ mieter.strasse }}</td>
								<td>{{ mieter.plz}}</td>
								<td>{{ mieter.ort}}</td>
								<td>{{ mieter.email}}</td>
								<td>{{ mieter.telefon}}</td>
								<td>
									<a href="{{ path('edit_mieter', {'mieter': mieter.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Suche Liegenschaft</div>
					<div class="panel-body">
					<div class="input-group">
						<input type="text" class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button">Suchen</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Liegenschaften<br><i>Klicke auf einen Eintrag um alle Wohnungen und Mieter des gewählten Hauses einzusehen</i></div>
				{% if houses is empty %}
					<div class="panel-body">
						<p>Noch keine Liegenschaften vorhanden</p>
					</div>
				{% else %}
				<div class="panel-body">
					<table class="table table-responsive table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Strasse</th>
								<th>PLZ</th>
								<th>Ort</th>
							</tr>
						</thead>
						<tbody>
						{% for house in houses %}					 
							<tr class="clickable-row" data-href="{{ path('view_wohnungen', {'house': house.id},{ 'street': house.strasse}) }}">
								<td>{{ house.name }}</td>
								<td>{{ house.strasse }}</td>
								<td>{{ house.plz}}</td>
								<td>{{ house.ort}}</td>
								<td>
									<a href="{{ path('edit_house', {'house': house.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Suche Wohnung</div>
					<div class="panel-body">
					<div class="input-group">
						<input type="text" class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button">Suchen</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Wohnungen<br><i>Klicke auf einen Eintrag um alle Mieter der gewählten Wohnung einzusehen</i></div>
				{% if wohnungen is empty %}
					<div class="panel-body">
						<p>Noch keine Wohnung vorhanden</p>
					</div>
				{% else %}
				<div class="panel-body">
					<table class="table table-responsive table-hover">
						<thead>
							<tr>
								<th>Liegenschaft ID</th>
								<th>Name</th>
								<th>Miete</th>
							</tr>
						</thead>
						<tbody>
						{% for wohnung in wohnungen %}					 
							<tr>
								<td>{{ wohnung.house.strasse }}</td>
								<td>{{ wohnung.name }}</td>
								<td>{{ wohnung.miete}} CHF</td>
								<td>
									<a href="{{ path('edit_wohnung', {'wohnung': wohnung.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
								</td>								
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Suche Wohnung mit Mieter</div>
					<div class="panel-body">
					<div class="input-group">
						<input type="text" class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button">Suchen</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Wohnungen und Mieter</div>
				{% if mietertowohnungen is empty %}
					<div class="panel-body">
						<p>Noch keine Wohnungen mit Mieter vorhanden</p>
					</div>
				{% else %}
				<div class="panel-body">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Wohnungs ID</th>
								<th>Wohnungsname</th>
								<th>Miete</th>
								<th>Mieter ID</th>
								<th>Nachname</th>
								<th>Vorname</th>
								<th>Telefon</th>
							</tr>
						</thead>
						<tbody>
						{% for mietertowohnung in mietertowohnungen %}					 
							<tr>
								<td>{{ mietertowohnung.wohnung.id }}</td>
								<td>{{ mietertowohnung.wohnung.name }}</td>
								<td>{{ mietertowohnung.wohnung.miete}} CHF</td>
								<td>{{ mietertowohnung.mieter.id }}</td>
								<td>{{ mietertowohnung.mieter.nachname }}</td>
								<td>{{ mietertowohnung.mieter.vorname}}</td>
								<td>{{ mietertowohnung.mieter.telefon}}</td>	
								<td>
									<a href="{{ path('edit_mietertowohnung', {'mietertowohnung': mietertowohnung.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
								</td>							
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}