{% extends 'DHLGSVBundle::base.html.twig' %}
{% block body %}
	<h2>Mieter hinzufügen</h2>
	{{ form_start(form) }}
		<div class="form-group">
			<label for="form_nachname">Nachname</label>
			{{ form_widget(form.nachname, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="form_vorname">Vorname</label>
			{{ form_widget(form.vorname, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="form_strasse">Strasse</label>
			{{ form_widget(form.strasse, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="form_plz">PLZ</label>
			{{ form_widget(form.plz, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="form_ort">Ort</label>
			{{ form_widget(form.ort, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="form_email">E-Mail</label>
			{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			<label for="form_telefon">Telefon</label>
			{{ form_widget(form.telefon, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<button type="submit" class="btn btn-default">Speichern</button>
	{{ form_end(form) }}	
{% endblock %}