{% extends 'DHLGSVBundle::base.html.twig' %}
{% block body %}
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="pHeadText">Wohnungen</span></div>
				{% if mieters.wohnungen is empty %}
					<div class="panel-body">
						<p>Noch keine Wohnung vorhanden</p>
					</div>
				{% else %}
				<div class="panel-body">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Liegenschaft ID</th>
								<th>Wohnung ID</th>
								<th>Name</th>
								<th>Miete</th>
							</tr>
						</thead>
						<tbody>
						{% for wohnung in mieters.wohnungen %}					 
							<tr>
								<td>{{ wohnung.wohnung.house.strasse }}</td>
								<td>{{ wohnung.wohnung.id }}</td>
								<td>{{ wohnung.wohnung.name }}</td>
								<td>{{ wohnung.wohnung.miete}} CHF</td>
								<td>
									<a href="{{ path('edit_wohnung', {'wohnung': wohnung.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
								</td>								
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}