{% extends 'DHLGSVBundle::base.html.twig' %}
{% block body %}
	<div class="row">			
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="pHeadText">Mieter</span></div>
				{% if apartments is empty %}
					<div class="panel-body">
						<p>Noch keine Mieter vorhanden</p>
					</div>
				{% else %}
				<div class="panel-body">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Nachname</th>
								<th>Vorname</th>
								<th>Strasse</th>
								<th>PLZ</th>
								<th>Ort</th>
								<th>E-Mail</th>
								<th>Telefon</th>
							</tr>
						</thead>
						<tbody>
						{% for tenant in apartments %}					 
							<tr>
								<td>{{ tenant.tenant.nachname }}</td>
								<td>{{ tenant.tenant.vorname }}</td>
								<td>{{ tenant.tenant.strasse }}</td>
								<td>{{ tenant.tenant.plz }}</td>
								<td>{{ tenant.tenant.email }}</td>
								<td>{{ tenant.tenant.telefon }}</td>
								<td>
									<a href="{{ path('edit_tenant', {'tenant': tenant.tenant.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
								</td>								
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}