<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow"/>
        <title>{% block title %}LGSV Plus{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/dhlgsv/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dhlgsv/bootstrap/css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dhlgsv/lgsv/css/main.css') }}"/>
        {% block head %}{% endblock %}
    </head>
    <body role="document"> 
        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#menu-toggle">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">LGSV Plus</a>
                </div> 
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu-toggle">
                    <ul class="nav navbar-nav">
                        <li class="{% if app.request.attributes.get('_route') == 'new_tenant' %}active{% endif %}">
                            <a href="{{ path('new_tenant') }}">Mieter hinzufügen</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'new_house' %}active{% endif %}">
                            <a href="{{ path('new_house') }}">Liegenschaft hinzufügen</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'new_apartment' %}active{% endif %}">
                            <a href="{{ path('new_apartment') }}">Wohnung hinzufügen</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'new_allocation' %}active{% endif %}">
                            <a href="{{ path('new_allocation') }}">Mieter zuweisen</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li><p class="navbar-text">Angemeldet als: <b>{{ app.user.username }}</b></p></li>
                            <li><a href="{{ path('logout') }}">
                                <span class="glyphicon glyphicon-log-out"></span>Logout
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- /navbar -->
        <div id="content-top" class='container'>
            {% block body %}{% endblock %}
        </div> 
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
            <script src="{{ asset('bundles/dhlgsv/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/dhlgsv/lgsv/js/script.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
